/*!------------HEADER TOP----------*/
#header{
    display: flex;
    flex-direction: column;/*
    justify-content: center;
    align-items: center;*/
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-top{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 0;
    border-bottom: 1px solid #242424;
}
.navbar{
    padding: 16px 0;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}


/*.--------MAIN----------------*/
#main{
    margin: 0 150px;
}
.main-container{
    margin-top: 110px;
}


.destaque{
    display: flex;
}
.left-side{
    width: 60%;
}
.right-side{
    width:40%
}
.left-side .destaque-card img{
    width: 100%;
    object-fit: cover;
}

.right-side{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.right-side .destaque-card img{
    width: 40%;
}
.right-side .destaque-card{
    display: flex;
    padding-bottom:10px;
}