/*!------------HEADER TOP----------*/
#header{
    display: flex;
    flex-direction: column;/*
    justify-content: center;
    align-items: center;*/
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-top{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.navbar{
    padding: 16px 0;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color: #000000;
    padding: 0 18px;
}
/*===== BREAK POINT TO MENU =====*/
@media (max-width:700px) {
    .navbar{
        display: none;
    }
}


/*----------DESTAQUES----------------*/
.recente{
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    padding-top: 140px;
}
.recente-top img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.recente-top-content{
    position: relative;
    bottom: 100px;
    padding: 10px 20px;
    overflow: hidden;
}
.recente-items img{
    width: 100%;
    height: auto;
}

.recente-top{
    /*border-radius: 8px;*/
    overflow: hidden;
   /* box-shadow: 0 4px 8px rgba(199, 199, 199, 0.3);*/
}
.recente-items{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.recente-item-content{
    padding: 10px 10px;
}
.recente-item-card {
    /*border-radius: 8px;*/
    margin: 10px 6px;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 8px;
    max-width: 350px;
}

/*-------------------------------*/
.musica-cards{
    display: flex;
    flex-direction: column;
    padding: 40px 130px;
}
.music-sides{
    display: flex;
}

/*---------MUSICS SIDERS----------*/
.music-side-left 
.music-left-items
.music-left-card{
    border: 1px solid #eee;
    border-radius: 8px;
}
.music-left-items
.music-left-card{
    border-radius: 8px;
    width: 324px;
}

.music-left-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.music-left-items
.music-left-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    height: auto;
}
.music-left-items{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.music-left-card-content{
    padding: 10px 10px;
}
/*------Config width -------*/
.music-side-left {
    width: 65%;
}
.music-side-right{
    width: 35%;

}
/*--------------------------*/
.music-left-card{
    margin-right: 20px;
    margin-top: 10px;
}


/*---------------------*/
.music-side-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.music-right-item{
    display: flex;
    margin-bottom: 20px;
}
.music-right-content{
    line-height: 1.3em;
}
.music-right-content h3{
    margin-bottom: 10px;
}
.music-right-item h1{
    font-weight: bold;
    font-size: 2.5em;
    margin-right: 15px;
}